<div>
    <div class="mb-3">
        <input type="text" class="form-control" id="contentName" placeholder="Arama metninizi giriniz"
            [(ngModel)]="filterText" style="background-color: transparent; position: relative; color: white;" />
    </div>
    <div class="row">

        <ng-template #noContent>
            <div class="alert alert-primary" role="alert">
                Bu içerikte veri yoktur.
            </div>
        </ng-template>
        <div *ngFor="let content of contents | contentFilter:filterText" class="card"
            style="width: 21rem; margin: 1%; padding: 1%; background-color: rgba(0, 0, 0,.3); min-height: 47rem;">
            <img [src]="content.contentPosterUrl" class="card-img-top" [alt]="content.contentName"
                style="width: 100%; height: 400px;">
            <div class="card-body">
                <h5 class="card-title" style="color: white;">{{content.contentName}}</h5>
                <p class="card-text" style="color: white; margin-bottom: 18%;">{{content.contentDescription}}</p>
                <div class="col" style="position: absolute; bottom: 3%;">
                    <a routerLink="./{{content.id}}" class="btn btn-danger" style="color: white;">Detaya
                        Git</a>
                </div>
            </div>
        </div>
    </div>
</div>