<div>
    <div class="mb-3">
        <input type="text" class="form-control bg-dark" id="contentName" placeholder="Search content"
            [(ngModel)]="filterText" style="position: relative; color: white;" />
    </div>
    <div class="row">

        <ng-template #noContent>
            <div class="alert alert-primary" role="alert">
                Bu içerikte veri yoktur.
            </div>
        </ng-template>
        <div *ngFor="let content of contents | contentFilter:filterText" class="card"
            style="width: 20rem; margin: 1%; padding: 1%; background-color: rgba(0, 0, 0,.3); min-height: 15rem;">
            <img [src]="content.contentPosterUrl" class="card-img-top" [alt]="content.contentName"
                style="width: 100%; height: 400px;">
            <div class="card-body">
                <h5 class="card-title" style="color: white;">{{content.contentName}}</h5>
                <p class="card-text" style="color: white; margin-bottom: 18%;">{{content.contentDescription}}</p>
            </div>
        </div>
    </div>
</div>