<div style="color: white;">
    <table class="table bg-light" style=" color: black; border-radius: 5px; text-align: right">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Poster Url</th>
                <th scope="col">Video Url</th>
            </tr>
        </thead>
        <tbody *ngFor="let content of contents ">
            <tr>
                <th scope="row">{{content.id}}</th>
                <td>{{content.contentName}}</td>
                <td>{{content.contentStatus }}</td>
                <td>{{content.contentPosterUrl | shorten: 25}}...</td>
                <td>{{content.contentVideoUrl | shorten: 25}}...</td>
                <td>
                    <button class="btn btn-danger" style="height: 34px; margin-right: 2%;" (click)="onEditClick(content)">
                        <mat-icon style="font-size: 20px;" fontIcon="edit"></mat-icon>
                    </button>
                    <a class="btn bg-dark" style="height: 34px;" (click)="onDeleteClick(content.id)">
                        <mat-icon style="font-size: 20px; color: white;" fontIcon="delete"></mat-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <app-content-edit></app-content-edit>
</div>