<div class="bg-light" style="color: black; padding: 1%; border-radius: 5px; ">

    <div class=" mb-3">
        <label for="exampleInputEmail1" class="form-label">Licence Name</label>
        <input type="text" class="form-control" [(ngModel)]="currentLicence.licenceName" name="licence">
    </div>
    <div class=" mb-3">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepickerFilter]="myFilterStart" [matDatepicker]="pickerStartTime"
                [(ngModel)]="startTime" name="startTime">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerStartTime"></mat-datepicker-toggle>
            <mat-datepicker #pickerStartTime></mat-datepicker>
        </mat-form-field>
    </div>

    <div class=" mb-5">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepickerFilter]="myFilterEnd" [matDatepicker]="pickerEndTime" [(ngModel)]="endTime"
                name="endTime">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerEndTime"></mat-datepicker-toggle>
            <mat-datepicker #pickerEndTime></mat-datepicker>
        </mat-form-field>
    </div>


    <button type="submit" class="btn btn-danger" style="position: absolute; right: 2%; bottom: 4%"
        (click)="addLicence()">Save DB</button>
    <button type="submit" class="btn btn-danger" style="position: absolute; right: 7%; bottom: 4%"
        (click)="addLicence()">Reset Fields</button>
</div>