<div class="bg-light" style="color: black; padding: 1%; border-radius: 5px; ">

    <div class=" mb-3 mt-2">
        <label class="form-label">Licence Name <span *ngIf="currentLicence.id != -1" matBadge="{{currentLicence.id}}"
                matBadgeOverlap="false"></span></label>
        <input type="text" class="form-control" [(ngModel)]="currentLicence.licenceName" name="licence">
    </div>
    <div class=" mb-3">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepickerFilter]="myFilterStart" [matDatepicker]="pickerStartTime"
                [(ngModel)]="startTime" name="startTime">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerStartTime"></mat-datepicker-toggle>
            <mat-datepicker #pickerStartTime></mat-datepicker>
        </mat-form-field>
    </div>

    <div class=" mb-5">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepickerFilter]="myFilterEnd" [matDatepicker]="pickerEndTime" [(ngModel)]="endTime"
                name="endTime">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerEndTime"></mat-datepicker-toggle>
            <mat-datepicker #pickerEndTime></mat-datepicker>
        </mat-form-field>
    </div>
    <div style="display:flex; align-items:flex-end; justify-content:flex-end">
        <button type="submit" class="btn btn-danger" style="position: relative; margin-right: 1%; "
            (click)="saveLicence()">Save
            DB</button>
        <button type="submit" class="btn btn-danger" (click)="resetLicence()">Reset
            Fields</button>
    </div>


</div>