<div  style="position: relative;">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <a href="#" routerLink="/dashboard/content" class="list-group-item">Contents</a>
                <a href="#" routerLink="/dashboard/licence" class="list-group-item">Licences</a>
                <a href="#" routerLink="/dashboard/platform" class="list-group-item">Platforms</a>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>