<form class="bg-light" style="color: black; padding: 1%; border-radius: 5px;">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Content Name</label>
        <input type="text" class="form-control" [(ngModel)]="contentName" name="contentName">
    </div>
    <div class="mb-3">

        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [formControl]="selectedStatus">
                <mat-option *ngFor="let statu of status" [value]="statu">{{statu}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class=" mb-3">
        <label for="exampleInputEmail1" class="form-label">Poster Url</label>
        <input type="text" class="form-control" [(ngModel)]="contentPosterUrl" name="contentPosterUrl">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Video Url</label>
        <input type="text" class="form-control" [(ngModel)]="contentVideoUrl" name="contentVideoUrl">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input type="text" class="form-control" [(ngModel)]="contentDescription" name="contentDescription">
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Licences</mat-label>
        <mat-select [formControl]="selectedLicences" multiple>
            <mat-option *ngFor="let licence of licences" [value]="licence.id">{{licence.licenceName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br />
    <button type="submit" class="btn btn-danger" style="position: absolute; right: 2%; bottom: 4%"
        (click)="addContent()">Add to DB</button>
</form>